

.alice-carousel__stage-item {
  /* width: 60% !important; */

}



.carousel-holder {
  /* border: black solid 1px; */
 display: block;
 /* justify-content: right; */
 width: 100%;
 margin: auto;
}


.galler-wrapper {
  /* border: black solid 1px; */
  position: relative;   
  display: flow-root;
}

.img-caro {
  /* visibility: hidden; */
  /* border-radius: 1em; */
  /* display: inline; */
  margin: 0em;

}
.alice-carousel__stage-item {
  /* width: 700px !important; */
}
@media only screen and (max-width: 1023px) {
.carousel-holder {
  width: 100%; 
  /* changed from 90% */
}
.alice-carousel {
  width: 80%;
}
}


@media only screen and (max-width: 800px) {
  .alice-carousel {
    width: 100%;
  }

}