.burger-wrap {
  visibility: hidden;
}

.menu-btn {

  border: none;
  position: absolute;
  top: 0em;
  background: transparent;
    height: 3em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
        border: none;
        position: absolute;
        top: -.7em;
        background: transparent;
        ht: 3em;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: #fefefe;
}

#react-burger-menu-btn {

  /* background:#356E39 !important; */

}

.moblie-menu-nav-button {
  border: none;
  background: none;
  color: #111;
  margin-bottom: 1em;
}

.moblie-menu-nav-button:focus {
  border-bottom: #356E39 1px solid;
}
.moblie-menu-nav-button:hover {
  border-bottom: #ffffff 1px solid;
}
/* 
.nav-button-bar-moblie {
      visibility: visible;
      position: absolute;
      left: 1em;
      border: 2px pink solid;
      width: 100%;
      height: 1em;
} */
.bm-cross-button{
    position: absolute;
    width: 24px;
    height: 24px;
       right: 24px !important;
       top: 15px !important;
    /* background: olive; */
    background: none;
    border: none;
    color: white;
  
  
}