.App-header {
  background-color: #1A1F16;
  min-height: 1em;
  height: 11em;
  width: 100%;
  display: flex;
  color: white;
  position: relative;
  border-bottom: #1E3F20 5px solid;
}

.serving {
  position: absolute;
  left: -20em;
  top: 3.5em;
}

.company-name {
  float: left;
  padding: 1em;
}

.company-number {
  position: absolute;
  right: 5em;
  /* bottom: .2em; */
  opacity: .7;
}
.company-number:hover {
  opacity: 1;
}

.address-img-div {
  /* background-color: #fefefe;
  border-radius: 1em;
  width: 2em;
  height: 2em; */
  position: absolute;
  right: 1.5em;
  top: 12px;


  display: block;
  width: 40px;
  height: 40px;
  background: #E6E7ED;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-align: center;


}

.holler {
  opacity: .7;
  transition: 10ms;
}

.holler:hover {
  opacity: 1;
  transition: 10ms;
}

.img-div {
  /* background-color: #fefefe;
  border-radius: 1em;
  width: 2em;
  height: 2em; */
  position: absolute;
  right: 6em;
  bottom: .6em;


  display: block;
  width: 40px;
  height: 40px;
  background: #E6E7ED;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-align: center;

}

.company-number-img {
  margin-top: 11px;
  /* opacity: .2
  ; */
}

.cart {
  position: relative;
  margin-top: 11px;
  top: -3.5em;
  left: 1.5em;
  width: 1.3em;
  background: red;
  border-radius: 1em;
  text-align: center;
  border: 1px solid red;
}

.company-address {
  position: absolute;
  right: 0em;
  /* bottom: .2em; */
}






@media only screen and (max-width: 1024px) {
.img-div {
  position: absolute;
  right: -.5em;
  /* bottom: -3.3em; */
}
.number{
  visibility: hidden;
}
}

@media only screen and (max-width: 414px) {
.serving {
  width: 100%;
  left: -6em;
}
}
@media only screen and (max-width: 280px) {
  .company-number {
    visibility: hidden;
  }
}