.home-container {
  text-align: none;
}

.main-holder, .main-holder-two{
  /* border: #606c38 solid 1px; */
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;

}
.home-title {
  color: #606c38;
  margin-left: 5%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.home-para {
 width: 40%;
 margin-left: 5%;
}
.specialize {
 margin-left: 6%;
 color: #679436;
 
}


.quest {
  /* border: .5px solid black; */
  /* color: #606c38; */
  background: #A0B93C;
  width: 40%;
  height: 10em;
  text-align: center;
  margin-right: 5%;
  border-radius: 1em;
  box-shadow: 5px 10px #888888

}
.quest-one {
  color: black;

}
.main-holder-two {
justify-content: center;
}
.card {
  border: 1px solid black;
  height: 15em;
  width: 25%;
  margin-left: .5em;
  margin-right: .5em;
  text-align: center;
  position: relative;
  border-radius: .5em;

}

.more-info-button {
    position: absolute;
    bottom: 1em;
    left: 25%;
    height: 3em;
    width: 50%;
    border: none;
    background: #606c38;
    color: #fefefe
    
  }
  
  .more-info-button:hover {
    border: #606c38 2px solid;
    color: #606c38;
    background: transparent;
}