.home-container {
  text-align: none;
}

.main-holder,
.main-holder-two {
  /* border: #606c38 solid 1px; */
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;

}

.home-title {
  color: #606c38;
  margin-left: 5%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.home-para {
  width: 66%;
  /* margin-left: 5%; */
  margin: auto;
}

.specialize {
  margin-left: 7%;
  color: #679436;

}


.quest {
  /* border: .5px solid black; */
  /* color: #606c38; */
  background: #A0B93C;
  width: 40%;
  height: 10em;
  text-align: center;
  margin-right: 5%;
  border-radius: 1em;
  box-shadow: 5px 10px 5px -6px #888888;



}

.quest-one {
  color: black;

}

.main-holder-two {
  justify-content: center;
}

.card {
  /* border: 1px solid black; */
  height: 15em;
  width: 25%;
  margin-left: .5em;
  margin-right: .5em;
  text-align: center;
  position: relative;
  border-radius: .5em;
  background: #F2F2F2;
  box-shadow: 5px 10px 5px -6px #888888;
}

.more-info-button {
  position: absolute;
  bottom: 1em;
  left: 25%;


  width: 50%;
  height: 3em;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  border-radius: .2em;
  border: none;
  background-color: #49974E;
  color: #f3f3f3;
  transition: 2ms;
  opacity: .7;
}

.more-info-button:hover {
  opacity: 1;

}

.request-holder {
  height: 10em;
  background: #f2f2f2;
  border-radius: .5em;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 1em;
  position: relative;
  box-shadow: 5px 10px 5px -6px #888888;

}


.request-btn {
  position: absolute;
  bottom: 1em;
  left: 25%;
  height: 3em;
  width: 50%;
  color: #fefefe;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  border-radius: .2em;
  border: none;
  background-color: #49974E;
  color: #f3f3f3;
  transition: 2ms;
  opacity: .7;

}

.request-btn:hover {
  opacity: 1;
  transition: 2ms;

}


@media only screen and (max-width: 1024px) {
  .request-holder {
    width: 100%;
    height: 15em;

  }

  .main-holder {
    display: block;
  }

  .quest {
    width: 80%;
    margin: auto;

  }

  .home-para {
    width: 90%;
  }

  .card {
    width: 34%;
    margin-left: 0em;
    margin-right: 0em;
    height: 18em;
  }
}


@media only screen and (max-width: 600px) {
  .main-holder-two {
    display: block;
  }

  .card {
    width: 100%;
    margin-bottom: 1em;
  }

  .quest {
    width: 100%;
    padding-top: 1em;
  }
}