.item-holder {
  display: flex;
  width: 100%;
  justify-content: center;
   /* opacity: .1; */
}
.holder {
  border: black 1px solid;    
  width: 15.63em;
  height: 25em;
  text-align: center;
  margin: 1em;
  opacity: .7;
  transition: 20ms;
  position: relative;
  border-radius: 1em; 

}

.holder:hover{
  opacity: 1;
  transition: 20ms;

}


.price {
     color: #356E39;
     position: absolute;
     bottom: 0;
     left: 25%;
}
.button-holder {
    display: flex;
    width: 100%;
    justify-content: center;
}


.lndscp-button {
  height: 4em;
  width: 15em;
  border: none;
  background: #356E39;
  color: #fefefe;
}

.lndscp-button:hover {
  border: #356E39 2px solid;
  color: #356E39;
  background: transparent;
}



.disc {
  width: 80%;
  margin:  20px;
}

 .img {

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;

 }


 .loader-holder {
   display: flex;
   justify-content: center;
   margin-bottom: 25em;
 }

.loader {
  margin-top: 5em;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #1A1F16;
  border-right: 16px solid #46543B;
  border-bottom: 16px solid #356E39;
  border-left: 16px solid #49974E;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.lndscp-ttl {
  text-align: center;
  display: block;
  align-content: center;
}

.lndscp-ttl p {
  margin: auto;
  margin-bottom: 1em;
  width: 80%;
  text-align: center;
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* item page below */

.product-holder {
 display: block;
 position: relative;
 top: 2em;
 width: 75%;
 margin: auto;
 margin-bottom: 3em; 
 border: 1px solid black;
 height: 45em;
}

.img-holder {
    position: absolute;
    left: 1em;
    /* border: 1px solid black; */
    top: 2em;
    width: 50%;
    height: 19.6em;
    text-align: center;
    
    
  }

  .img-holder h3 {
    color: #1A1F16;
    margin-top: 4.5em;
  }
  .item-page-img {
    
    margin-top: 1em;
  

}

.item-page-body-holder {
      position: absolute;
      right: 1em;
      top: 2em;
      height: 19.6em;
      width: 40%;
      border-left: 1px solid black;
      display: block;

}

.item-page-body-holder h1,
.item-page-body-holder h4 {
  margin-left: 1em;
}

.sold-by-holder {
  position: absolute;
  bottom: 12em;
  border-top: black 1px solid;
  left: 0;
  width: 96%;
  margin: 1em;
  /* border: black 1px solid; */
  text-align: center;
}

.sold-by-ttl {
position: relative;
left: 10px;
text-align: left;

}

.sold-by {
 border: transparent 1px solid;
 width: 15%;
 height: 4em;
 margin-left: 1em;
 margin-bottom: 1em;
 border-radius: .2em;
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 400;
 border-radius: .2em;
 /* border: none; */
 background-color: #49974E;
 color: #f3f3f3;
}

.form-holder {
  position: absolute;
  bottom: 0;
  border: black 1px solid;
  left: 0;  
  width: 96%;
  height: 11em;
  margin: 1em;
  /* border: black 1px solid; */
}

.form-wrapper{
  width: 100%;
  background-color: aqua;
  position: relative;
}

.add-to-cart {
  position: absolute;
  right: 0px;
  top: -10.5em;
  border-left: 1px solid black; 
  height: 10em;
  width: 30%;
  text-align: center;
}

.item-img {
  margin: 1em;
}

.add-to-cart-input {
 height: 3.4em;
 width: 3em;
 position: relative;
 top: -1.2em;
 
}


.add-to-cart-button {
  margin-top: .5em;
  width: 9em;
  height: 4em;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  border-radius: .2em;
  border: none;
  background-color: #49974E;
  color: #f3f3f3;
  transition: 2ms;
  position: relative;

  left: 3px;
      top: -1.2em;
}

.add-to-cart-button:hover {
  transition: 2ms;
  background-color: #356E39;


}


@media only screen and (max-width: 1120px) {
.holder {
  margin: 0em;
}
  
}

@media only screen and (max-width: 1030px) {
  .item-holder {
   display: grid;
   width: 100%;
  }
  .holder {
    width: 100%;
  }
  .price {
    left: 32%;
  }
}
 

@media only screen and (max-width: 540px) {
  .product-holder {
    width: 100%;
    border: none;
    margin-bottom: 7em;
  }
.item-holder {
}
.img-holder {
  width: 100%;
  left: 0em;

}
.item-page-img {
  width: 100%;
  margin-top: -2em;
}
.item-page-body-holder {
  position: relative;
  right: 1em;
  top: 23em;
  height: 19.6em;
  width: 100%;
  border-left: none;
  /* display: block; */
  text-align: center;
}

.sold-by-ttl {
  left: 0em;
}
.sold-by-holder {
      position: absolute;
      bottom: 6em;
      left: 0;
      width: 96%;
      margin: 1em;
      text-align: center;
      border: none;

}
.sold-by {
  width: 93%;
  margin-left: 0em; 
}
.img-holder h3 {
  margin-top: 1.5em;
}

.item-img {
  margin: 0em;
  visibility: hidden;
}
.add-to-cart {
  border: none;
  width: 100%;
  top: -7.5em;
}
.form-holder {
  position: absolute;
  bottom: -4em;
  border: black 1px solid;
 margin: 0em;
  width: 100%;
  height: 11em;
  
  }
}

@media only screen and (max-width: 260px) {

  .price {
    left: 25%;
  }
}