.item-holder {
  display: flex;
  width: 100%;
  justify-content: center;
   
}
.holder {
  border: black 1px solid;    
  width: 15.63em;
  height: 25em;
  text-align: center;
  margin: 1em;
  opacity: .7;
  transition: 20ms;
  position: relative;
  border-radius: 1em; 

}

.holder:hover{
  opacity: 1;
  transition: 20ms;

}


.price {
     color: #356E39;
     position: absolute;
     bottom: 0;
     margin-left: 3.5em;
}
.button-holder {
    display: flex;
    width: 100%;
    justify-content: center;
}


.lndscp-button {
  height: 4em;
  width: 15em;
  border: none;
  background: #356E39;
  color: #fefefe;
}

.lndscp-button:hover {
  border: #356E39 2px solid;
  color: #356E39;
  background: transparent;
}



.disc {
  width: 80%;
  margin:  20px;
}

 .img {

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;

 }

/* item page below */

.product-holder {
 display: block;
 position: relative;
 top: 2em;
 width: 75%;
 margin: auto;
 margin-bottom: 3em; 
 border: 1px solid black;
 height: 45em;
}

.img-holder {
    position: absolute;
    left: 1em;
    border: 1px solid black;
    top: 2em;
    width: 50%;
    height: 21.6em;
    text-align: center;
    
    
  }
  .item-page-img {
    
    margin-top: 1em;
  

}

.item-page-body-holder {
      position: absolute;
      right: 1em;
      top: 2em;
      height: 21.6em;
      width: 40%;
      border: 1px solid black;
      display: block;

}

.sold-by-holder {
  position: absolute;
  bottom: 12em;
  border: black 1px solid;
  left: 0;
  width: 96%;
  margin: 1em;
  border: black 1px solid;
  text-align: center;
}

.sold-by-ttl {
 /* float: s; */
 position: relative;
 right: 25%;

}

.form-holder {
  position: absolute;
  bottom: 0;
  border: black 1px solid;
  left: 0;  
  width: 96%;
  height: 10em;
  margin: 1em;
  /* border: black 1px solid; */
}

.form-wrapper{
  width: 100%;
  background-color: aqua;
  position: relative;
}

.add-to-cart {
  position: absolute;
  right: 0;
  /* border: 1px solid black;  */
  height: 10em;
  text-align: center;
}