.nav-button-bar {
  /* border: 1px solid black; */
  /* align-items: center; */
  align-content: center;
  display: flex;
  justify-content: center;
  background-color: #91972A;
  background-color: #91972A;
  height: 3.4em;
  margin-top: -.3em;


}

.nav-button {
  background-color: transparent;
  /* border: 1px solid black; */
  border: none;
  width: 10em;
  height: 4em;
  padding: 0em;
  transition: 20ms;
  color: #fefefe;
  /* margin: .5em;; */
}


.nav-button:focus {
  background-color: #606c38;
  transition: 20ms;

}

.nav-button:hover {
  background-color: #606c38;
  transition: 20ms;
}

.nav-button-bar-reg {
  visibility: visible;
}

.nav-button-bar-mobile {
  visibility: hidden;
  /* position: absolute; */
}


.nav-button-bar {
  position: relative;
  align-items: center;
  width: 100%;

}

@media only screen and (max-width: 1020px) {
  .nav-button-bar-reg {
    visibility: hidden;
    width: 0%;

  }

  .nav-button-bar-mobile {
    visibility: visible;
    position: absolute;
    left: 1em;
    top: 1em;
     position: absolute;
     border: 2px pink solid;
     width: 90%;
     height: 1em;
  }
}