.nav-button-bar {
  /* border: 1px solid black; */
  /* align-items: center; */
  align-content: center;
  display: flex;
  justify-content: center;
  background-color: #91972A;
  background-color: #91972A;
  height: 3.4em;
  margin-top: -.3em;


}

.nav-button {
  background-color: transparent;
  /* border: 1px solid black; */
  border: none;
  width: 10em;
  height: 4em;
  padding: 1em;
  transition: 20ms;
  color: #fefefe;
}


.nav-button:focus {
  background-color: #606c38;
  transition: 20ms;

}

.nav-button:hover {
  background-color: #606c38;  
  transition: 20ms;
}